.headerBasket {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form-basket {

  margin-bottom: 100px;
  &__text {
    margin-top: 1em;
    margin-bottom: 1em;
    display: block;
  }

  &__btn {
    padding: 5px 15px;
    background: transparent;
    border: 1px solid blueviolet;
    border-radius: 5px;

    &:hover {
      background: blueviolet;
    }
    &:active {
      box-shadow: 2px 2px 2px #021;
    }
  }
}
.Basket-wrap {
  display: flex;
  justify-content: space-between;
  align-items:center;
}
.Basket-wrap span {
  font-size: 1.3em;
}