.Button{
  font-family: sans-serif;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background: #0071f0;
  cursor: pointer;
  transition: .3s;
  &:hover,&:focus{
    background: rgba(0,113,240,0.7);
  }
  &:active{
    background: orange;
  }
}
.Button-Hz{
  background: #3cc395;
  &:hover{
    background: red;
  }
}