.dots-Hz{
  padding: 0 30px;
}
.flex-slideMyHz{
  display: flex;
}
.block-Hz{
  position: relative;
}

.slick-prev:before, .slick-next:before {
  color: #bfbfbf;
}

.flex-slideMyHz{
  
  &__img{
    padding: 30px 30px 40px  30px ;
    width: 192px;
    height: 130px;
    object-fit: contain;
    border-left: 1px solid #e1e1e1;
  }
}
@media (max-width: 1200px) {
  .flex-slideMyHz__img {
    padding: 15px 15px 15px 15px;
    width: 150px;
    height: 100px;
    object-fit: contain;
    border-left: 1px solid #e1e1e1;
  }
  .wrappSlider{
    padding-bottom: 65px ;
  }
}
@media (max-width: 1024px){
  .dots-Hz{
    display: none;
  }
}