.post-delete {
  padding: 7px 20px;
  background: transparent;
  margin: 20px;
  border: 1.5px solid blueviolet;
  border-radius: 5px;
  &:hover {
    background: blueviolet;
  }
  &:active,&:focus {
    box-shadow: 2px 2px 10px blueviolet;
  }
  &:active {
    padding: 6px 20px;
    margin: 21px;
  }
}