.main-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
  column-gap: 30px;
}
.pageML{
  padding: 40px 0;
}
.pagesML, .current-pageML{
  border: 1px solid #000;
  border-radius: 5px;
  padding: 7px 14px;
  margin:14px;
  cursor: pointer;
}
.current-pageML{
  border: 2px solid #000;
  font-weight: 700;
}
.sort-mainList {

  &__span {
    padding-right: 2em;
    border: 1px solid #a2c3a244;
    padding: 10px;
    user-select: none;
    cursor: pointer;
    &:active {
      background: plum;
    }
  }

  &__span:not(:last-child) {
    margin-right: 2em;
  }
}
.title-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapInput-serch {
  margin-top: 3em;
  margin-bottom: 3em;
  display: flex;
  justify-content: right;
  align-items: center;

  &__input {
    width: 50%;
  }
  & label {
    padding-right: 10px;
  }
}

@media (max-width: 992px) {
  .main-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
    column-gap: 30px;
  }
}

@media (max-width: 768px) {
  .main-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 20px;
    column-gap: 30px;
  }
  .pagesML, .current-pageML{
    border: 1px solid #000;
    border-radius: 5px;
    padding: 0px 4px;
    margin:7px;
    cursor: pointer;
  }
}