.Button{
  font-family: sans-serif;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background: #0071f0;
  cursor: pointer;
  transition: .3s;
  &:active{
    background: orange;
  }
}
.Button-Hz{
  background: #3cc395;
  &:hover{
    background: red;
  }
  &:active{
    background: orange;
  }
}
.btn-post{
  font-size: 14px;
  background: #3cc395;
  &:hover{
    background: red;
  }
  &:active{
    background: orange;
  }
}
.Button[disabled] {
  background: rgba(0,0,0,0.4)
}