.header-container{
  padding: 23px 0 21px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__serch{
    appearance: none;
    border: 1px solid #e1e1e1;
    padding: 5px 0 5px 10px;
    width: 435px;
    border-radius: 2px;
    transition: width .3s;
  }
  &__serch--content::before{
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    right: 12px;
    top: 8px;
    background: url(../../img/serch.svg) no-repeat;
    background-position: center;
    object-fit: cover;
  }
}
.block{
  position: relative;
  margin-right: 40px ;
  cursor: pointer;
}
.basket::before{
  content: "";
  background: url(../../img/bask.svg) no-repeat; 
  background-position: center;
  background-size: contain;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -7px;
  left: -50px;
}
.btn-serch{
  cursor: pointer;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 8px;
  right: 12px;
  opacity: 0;

}
.slick{
  width: 100px;
  height: 100px;

  border:1px solid #000;
}
.basket{
  cursor: pointer;
  font-family: "Lato-Bold";
  font-size: 25px;
  font-weight: 700;
  color: #a1a1a1;
  position: absolute;
  top: -12px;
  right: 0;
}
/*======= Desktop First =======*/

/* Large Devices, With Screen */
@media (max-width: 1200px){
  
}

/* Medium Devices, Desktops */
@media (max-width: 992px){
    .basket{
      right: -40px;
    }
}

/* Small Devices, Tables */
@media (max-width: 768px){
  .basket{
    display: none;
  }
  .block{
    margin-right: 0;
  }
  .header-container > a > img{
    width: 50px;
  }

}
/* Extra Small Decvices, Phones */
@media (max-width: 577px){
  .header-container__serch{
    width: 285px;
  }
}
/* Custon, iPhone Retina */
@media (max-width: 400px){
  .header-container__serch{
    width: 200px;
  }
}
@media (max-width: 355px) {
  .header-container > a{
    display: none;
  }
}