.wrap-admin {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1em;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.grid1 {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-end:1 ;
}
.grid2 {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 2;
}
.grid3 {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-column-end: 1;
}
.wrap-form-admin {
  display: flex;
  justify-content: center;
  align-items: center;
}



.wrap-cell-admin {
  display: inline-block;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  background: pink;
}

.table-admin {

  border: 1px solid;
  border-collapse: collapse;
  margin: 0 auto;

  &__tdDE {
    &:hover {
      background: red;
    }
    &:active {
      transform: translateY(1px);
    }
  }
  &__tdUP {
    &:hover {
      background: yellowgreen;

    }
    &:active {
      transform: translateY(1px);
    }
  }

  &__tr,&__th,&__td, &__tdUP,&__tdDE {
    border: 1px solid;
  }
  &__th,&__td {
    padding: 10px;
  }
  &__btnUp, &__btnDe {
    
    background: transparent;
    border: none;
    cursor: pointer;

  }
  &__btnDe {
    &:hover {
      background: red;
    }
  }
}
@media (max-width: 1300px) {
  .form-admin {
    &__in {
      width: 300px;
    }
  }
  .wrap-form-admin {
    margin: 0px;
  }
}

@media (max-width: 1070px) {
  .wrap-admin {
    grid-template-columns: none;
    grid-template-rows: 2fr 1fr 1fr;
  }
  .grid1 {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    overflow-y:auto;
  }
  .grid2 {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 1;
    overflow-y:auto;
  }
  .grid3 {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-row-end: 3;
  }
  .wrap-form-admin {
    display: block;

  }
}
@media (max-width: 576px) {

}
@media (max-width: 500px) {

}